@charset "UTF-8";
h5 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

h6 {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.mainInfo a {
  font-size: 30px;
  font-weight: bold;
}

.btn {
  box-sizing: border-box;
  width: 170px;
  height: 80px;
  margin: 20px;
  background: #fff;
  border: 2px solid #000000;
  box-shadow: 0px 4px 2px 3px #000000;
  border-radius: 11px;
  font-size: 20px;
  font-weight: bold;
}

.cate .btn button:hover {
  background-color: #ffb100;
}

.cate {
  margin: auto;
  text-align: center;
}

#wrap{
  margin: auto 0 0 auto;
}

.mainInfo {
  width: 1200px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.main {
  display: grid;
  margin: auto;
}

.mainContent {
  margin: auto;
  width: 1200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  align-items: center;
  border: 2px solid #000000;
}

.content {
  box-sizing: border-box;
  width: 235px;
  height: 250px;
  margin: 13px;
  background: #f2f2f2;
  border: 2px solid #222;
  border-radius: 5px;
  bottom: 10px;
}

.contentMain {
  display: flex;
  margin: auto;
  overflow: scroll;
}

.create {
  width: 120px;
  height: 50px;
  background: white;
  box-shadow: 0px 2px 2px 2px #d9d9d9;
  border: none;
  border-radius: 30px;
  font-size: 17px;
  font-weight: bold;
  margin: 10px 0px;
  float: right;
}

.create:hover{
	background-color: #ffb100;
}

.btnClass {
  padding: 0 4px 0 0;
  margin-right: 10px;
  text-align: right;
}

.mainText {
  box-sizing: border-box;
  width: 1200px;
  height: 100px;
  background: #ffb100;
  border: 2px solid #000000;
  border-radius: 0px 0px 16px 16px;
  padding: 0px 0px 0px 20px;
  line-height: 100px;
}

p {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

header .head {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px;
}
header .head .logo {
  width: 130px;
}
header .head .nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 100%;
  list-style-type: none;
}
header .head .nav-container .nav-item {
  margin-left: 40px;
  font-weight: 500;
  font-size: 18px;
}
header .head .nav-container .nav-item a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  color: #222;
}
header .head .nav-container .nav-item a:hover {
  color: #ffb100;
}
header .head .nav-container .nav-item button {
  background: #ffb100;
  border: 2px solid #ffb100;
  border-radius: 50px;
  padding: 8px 5px;
  cursor: pointer;
  margin: 0 auto;
  width: 130px;
  text-align: center;
  font-size: 19px;
  font-weight: 600;
  color: #222;
  transition: 0.5s;
}
header .head .nav-container .nav-item button:hover {
  background: none;
  font-weight: 600;
  border: 2px solid #ffb100;
  color: #ffb100;
}

/*   팝업 임시 버튼 스타일  */

/* 팝업 스타일 */
.modal-bg {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}
.modal-wrap {
  display: none;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 500px;
  background: #fff;
  text-align: center;
  margin: auto;
  z-index: 1000;
  border-radius: 15px;
}

.modal-close {
  background-color: #fff;
  border: none;
  font-size: 30px;
}

textarea {
  padding: 15px;
  width: 90%;
  height: 20em;
  margin-top: 20px;
  border: none;
  resize: none;
}

.complete {
  right: 15px;
  bottom: 8px;
  position: absolute;
  width: 120px;
  height: 50px;
  background: #222;
  color: #fff;
  border-radius: 10px;
  border: none;
}

.modal-input{
	margin: auto;
	justify-content: space-around;
}


.modal-title input{
	border: 2px solid #222;
	border-radius: 20px;
	margin: 20px;
	width: 500px;
	height:40px;
	text-align: center;
}

.modal-wrap hr{
	margin: 5px;
	height: 10px;
	
}