@charset "UTF-8";

.top {
  margin-left: 100px;
  display: flex;
}

.title {
  color: #ffb100;
  font-weight: bold;
  font-size: 50px;
  margin-right: 100px;
}

.name {
  margin-right: 100px;
  font-size: 20px;
  font-weight: bold;
}

.wel {
  font-size: 20px;
  font-weight: bold;
}

.welTxt {
  font-size: 17px;
  padding: 5px;
  width: 350px;
  border: none;
  resize: none;
  height: 70px;
}

.partyInfo {
  display: flex;
  justify-content: right;
  margin-right: 30px;
}

.time {
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
.activity {
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
.people {
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.Info {
  background-color: #f1f1f1;
  height: 150px;
  width: 330px;
  padding: 10px;
  text-align: center;
}

.inputTime {
  margin-top: 10px;
  margin-left: 5px;
  border: none;
  font-size: 15px;
  border-radius: 10px;
}

.infoInput {
  border: none;
  text-align: center;
  border-radius: 10px;
  margin-top: 25px;
}

.btnClass {
  margin-right: 80px;
}

.btnParty {
  float: right;
  border: #ffb100 2px solid;
  margin: 10px;
  width: 140px;
  height: 50px;
  font-weight: bold;
}

header .head {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px;
}
header .head .logo {
  width: 130px;
}
header .head .nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 100%;
  list-style-type: none;
}
header .head .nav-container .nav-item {
  margin-left: 40px;
  font-weight: 500;
  font-size: 18px;
}
header .head .nav-container .nav-item a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  color: #222;
}
header .head .nav-container .nav-item a:hover {
  color: #ffb100;
}
header .head .nav-container .nav-item button {
  background: #ffb100;
  border: 2px solid #ffb100;
  border-radius: 50px;
  padding: 8px 5px;
  cursor: pointer;
  margin: 0 auto;
  width: 130px;
  text-align: center;
  font-size: 19px;
  font-weight: 600;
  color: #222;
  transition: 0.5s;
}
header .head .nav-container .nav-item button:hover {
  background: none;
  font-weight: 600;
  border: 2px solid #ffb100;
  color: #ffb100;
}
