@charset "UTF-8";

body {
    display: flex;
    background-color: #f4f4f4;
}
.profile {
    width: 30%;
    height: 100vh;
}
.main {
    background-color: white;
    box-shadow: 0px 4px 11px 5px rgba(0, 0, 0, 0.1);
    border-radius: 43px 0px 0px 43px;
    width: 100%;
    padding: 0 20px 20px 30px;
}

/* 헤더 */
header .head {
    display: flex;
    justify-content: flex-end;
    margin: 20px 40px;
}
header .head .nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 100%;
    list-style-type: none;
}
header .head .nav-container .nav-item {
    margin-left: 40px;
    font-weight: 500;
    font-size: 18px;
}
header .head .nav-container .nav-item a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: #222;
}
header .head .nav-container .nav-item a:hover {
    color: #FFB100;
}
header .head .nav-container .nav-item button {
    background: #FFB100;
    border: 2px solid #FFB100;
    border-radius: 50px;
    padding: 8px 5px;
    cursor: pointer;
    margin: 0 auto;
    width: 130px;
    text-align: center;
    font-size: 19px;
    font-weight: 600;
    color: #222;
    transition: 0.5s;
}
header .head .nav-container .nav-item button:hover {
    background: none;
    font-weight: 600;
    border: 2px solid #FFB100;
    color: #FFB100;
}

/* 프로필 */
.profile .circle-container {
    width: 120px;
    height: 120px;
    margin: 20px auto;
    margin-top: 100px;
    border: 2px solid #FFB100;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile .circle-container img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}
.profile .name {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 10px;
    text-align: center;
}
.profile .account {
    font-weight: 400;
    font-size: 18px;
    color: #bbb;
    text-align: center;
    margin-bottom: 15px;
}
.profile .point-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.profile .point-container .point-icon {
    width: 40px;
    margin: 0 10px;
}
.profile .point-container .point {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #222;
    margin-right: 30px;
}
.profile .category {
    margin-top: 30px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.profile .category a {
    color: #222;
    text-decoration: none;
}
.profile .category a .category-item {
    width: 300px;
    height: 60px;
    margin: 5px 20px;
    display: flex;
    align-items: center;
}
.profile .category a .category-item:hover > .mouseover {
    filter: invert(76%)
            sepia(76%)
            saturate(2701%)
            hue-rotate(358deg)
            brightness(99%)
            contrast(107%);
}
.profile .category a .category-item > span {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #222;
}
.profile .category a .category-item > img {
    margin: 0 20px;
    width: 35px;
    color: #ffb100;
}
.profile .category a .add-point {
    background: #FFB100;
    border-radius: 50px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    border: 2px solid #ffb100;
    transition: .5s;
}
.profile .category a .add-point:hover {
    background: #fff;
    border: 2px solid #ffb100;
}

/* 컨텐츠 */
.main .contents-inner {
    margin: 0 auto;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main .contents-inner .contents-title {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 44px;
    color: #222;
    margin: 50px 0;
}
.main .contents-inner .contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main .contents-inner .contents .content {
    width: 300px;
    margin: 0 10px;
    position: relative;
}
.main .contents-inner .contents .content .content-image {
    width: 300px;
    height: 300px;
    border: 2px solid #FFB100;
    box-sizing: border-box;
    position: relative;
}
.main .contents-inner .contents .content .content-image .point {
    display: inline-block;
    margin: 10px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 35px;
}
.main .contents-inner .contents .content .content-image img {
    width: 250px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.main .contents-inner .contents .content .content-text {
    height: 50px;
    border-radius: 0 0 30px 30px;
    background-color: #FFB100;
    border: 2px solid #FFB100;
    cursor: pointer;
}
.main .contents-inner .contents .content .content-text:hover span {
    color: #222;
}
.main .contents-inner .contents .content .content-text span {
    display: block;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    margin: 10px 0;
    transition: .3s;
}