<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- Camel Case, Snake Case 자동 매핑 설정 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.multi.miraclebird.user.UserVO" alias="userVO"/>
		<typeAlias type="com.multi.miraclebird.feed.FeedVO" alias="feedVO"/>
		<typeAlias type="com.multi.miraclebird.profile.ProfileVO" alias="profileVO"/>
		<typeAlias type="com.multi.miraclebird.recruit.RecruitVO" alias="recruitVO"/>
		<typeAlias type="com.multi.miraclebird.recruit.RecruitPartyVO" alias="recruitPartyVO"/>
		<typeAlias type="com.multi.miraclebird.party.PartyVO" alias="partyVO"/>
		<typeAlias type="com.multi.miraclebird.party.PartyImgVO" alias="partyImgVO"/>
		<typeAlias type="com.multi.miraclebird.party.PartyApplicantVO" alias="partyApplicantVO"/>
		<typeAlias type="com.multi.miraclebird.store.ProductVO" alias="productVO"/>
		<typeAlias type="com.multi.miraclebird.store.CategoryPageVO" alias="categoryPageVO"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/userMapper.xml" />
		<mapper resource="mapper/feedMapper.xml" /> 
		<mapper resource="mapper/profileMapper.xml" />
		<mapper resource="mapper/recruitMapper.xml" />
		<mapper resource="mapper/partyMapper.xml" />
		<mapper resource="mapper/partyImgMapper.xml" />
		<mapper resource="mapper/partyMemberMapper.xml" />
		<mapper resource="mapper/partyApplicantMapper.xml" /> 
  </mappers>

</configuration>
