<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="charge">
	<insert id="chargeInsert" parameterType="chargeVO">
		insert into charge
		values (null, #{chargeDate}, #{userId}, #{pointId});
	</insert>
	
	<select id="chargeList" parameterType="Long" resultType="chargeVO">
		select * from charge c
		left join point p on
		c.point_id = p.point_id where c.user_id = #{userId};
	</select>
</mapper>	