<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="partyImg">

	<select id="findPartyImgByPartyId" parameterType="int" resultType="partyImgVO">
		select *
		from party_img
		where party_id = #{partyId}
	</select>

</mapper>