<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="partyApplicant">

	<insert id="applyJoin" parameterType="partyApplicantVO">
		insert into party_applicant
		values (null, #{applicantDate}, #{partyId}, #{userId});
	</insert>
	
	<select id="findPartyApplicantIdByUserId" parameterType="Long" resultType="Integer">
		select party_applicant_id
		from party_applicant
		where user_id = #{userId};
	</select>
	
	<select id="findPartyApplicantByUserId" parameterType="Long" resultType="partyApplicantVO">
		select *
		from party_applicant
		where user_id = #{userId};
	</select>
	
	<delete id="deletePartyApplicantById" parameterType="int">
		delete from party_applicant
		where party_applicant_id = #{partyApplicantId};
	</delete>
	
	<select id="findPartyApplicantsByPartyId" parameterType="int" resultType="partyApplicantVO">
		select *
		from party_applicant
		where party_id = #{partyId};
	</select>
	
	<select id="findPartyApplicantUserByPartyId" parameterType="int" resultType="partyApplicantUserVO">
		select pa.*, u.username, p.name as party_name
		from party_applicant as pa
		join user as u
		on pa.user_id = u.user_id
		join party as p
		on pa.party_id = p.party_id
		where pa.party_id = #{partyId};
	</select>
	
</mapper>