<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="partyMember">
	
	<insert id="createPartyLeader" parameterType="partyVO">
		insert into party_member
		values (null, #{createDate}, #{partyId}, #{leaderId});
	</insert>
	
	<select id="findPartyIdByUserId" parameterType="Long" resultType="Integer">
		select party_id
		from party_member
		where user_id = #{userId};
	</select>
	
	<select id="getPartyMemberCountByPartyId" parameterType="Integer" resultType="Integer">
		select count(*)
		from party_member
		where party_id = #{partyId};
	</select>
	
</mapper>