<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="recruit">

	<select id="recruitPartyList" resultType="recruitPartyVO">
		select r.recruit_id, r.content, p.party_id, p.name, p.miracle_start_time, p.miracle_end_time, p.activity, p.max_member_count, (select count(*) from party_member as pm where pm.party_id = p.party_id) as member_count
		from recruit as r
		join party as p
		on r.party_id = p.party_id;
	</select>
	
	<insert id="createRecruit" parameterType="recruitVO">
		insert into recruit
		values (null, #{content}, #{userId}, #{partyId});
	</insert>
	
	<select id="findRecruitIdByPartyId" parameterType="int" resultType="Integer">
		select recruit_id
		from recruit
		where party_id = #{partyId};
	</select>
	
	<select id="findRecruitPartyByRecruitId" parameterType="int" resultType="recruitPartyVO">
		select r.recruit_id, r.content, p.party_id, p.name, p.miracle_start_time, p.miracle_end_time, p.activity, p.max_member_count, (select count(*) from party_member as pm where pm.party_id = p.party_id) as member_count
		from recruit as r
		join party as p
		on r.party_id = p.party_id
		where r.recruit_id = #{recruitId};
	</select>
	
	<update id="updateRecruit" parameterType="recruitVO">
		update recruit set
		content = #{content}
		where recruit_id = #{recruitId};
	</update>
	
	<delete id="deleteRecruitById" parameterType="int">
		delete from recruit
		where recruit_id = #{recruitId};
	</delete>
	
</mapper>