<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userProduct">
	<insert id="userProductInsert" parameterType="userProductVO">
		insert into user_product
		values (null, #{userId}, #{productId});
	</insert>
	
	<select id="findProduct" parameterType="userProductVO" resultType="Integer">
		select count(*) as cnt from user_product where user_id = #{userId} and product_id = #{productId};
	</select>
</mapper>